body {
    font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "標楷體", DFKai-SB, sans-serif;
}

.bar{
    position: fixed;
    right: 100px;
    top:100px;
    width: 50px;
    height: 50px;
    z-index: 999999;
}

.blue-bar{
    background-color: #7EB2DD;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25%;
}
.blue-bar .line1, .blue-bar .line2, .blue-bar .line3{
    background-color: #fff;
    width: 30px;
    height: 5px;
    position: absolute;
    transition-duration: 0.5s;  
}
.blue-bar .line1{
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blue-bar .line2{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.blue-bar .line3{
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blue-bar.active .line1{
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
}
.blue-bar.active .line2{
    transform: translate(-50%, -50%) ;
    opacity: 0;
}
.blue-bar.active .line3{
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
    left: 50%;
}

.box{
    width: 200px;
    background-color:rgba(255,255,255, 0.50);
    position: absolute;
    right: 0;
    font-size: 24px;
    font-weight: 800;
    color: #595757;
    height: 0;
    transition: 1s;
    overflow: hidden;
    z-index: 1080000;
}

.box.active{
    height: 600px;
}



.section1 {
    width: 100%;
    /* height: 100vh; */
    background-image: url('../img/index banner/cake05.jpg');
    background-size: cover;
    background-position: 25% 20%;
    margin-bottom: 150px;
}

.section1-1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo {
    width: 388px;
    height: 128px;
    background-image: url('../img/logo.png');
    background-size: cover;
    position: absolute;
    top: 50px;
}

.info {
    position: absolute;
    bottom: 110px;
}

.icon {
    display: inline-block;
    padding-right: 18px;
}

.info-word {
    color: white;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 0rem;
    line-height: 20px;
}

.scroll {
    font-family: 'Itim', cursive;
    position: absolute;
    color: white;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.scroll p {
    margin-bottom: 0;
    line-height: 30px;
    font-size: 50px;
}

.section2-1 {
    position: relative;
    width: 100%;
    padding-bottom: 225px;
}

.subtitle1 {
    width: 210px;
    height: 80px;
    top: 150px;
    font-size: 33px;
    font-weight: bold;
    line-height: 40px;
    color: #595757;
    margin-bottom: 153px;
}

.subtitle1 p {
    margin-bottom: 0;
}

.news-border {
    border: solid 1px #7EB2DD;
    bottom: 182px;
    padding: 30px 0;
}

.news-border::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 330px;
    background-color: #FCB0B3;
    left: 52px;
    top: 70px;
}

.news-list2{
    display: none;
}

.news-list a {
    display: inline-block;
    color: #595757;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 20px;
}

.news-list a::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 99em;
    background-color: #FCB0B3;
    vertical-align: -5px;
    margin-right: 30px;
}

.right-border {
    padding-top: 73px;
    position: absolute;
    transition: 1s;

}
.right-border:hover{
    padding-top: 55px;
    position: absolute;
}


.section3 {
    width: 100%;
    background-image: url('../img/about/bg-pink01.jpg');
    background-size: cover;
}

/* .section3-1 {
    position: relative;
    width: 100%;
} */

.subtitle2 {
    width: 245px;
    top: 150px;
    font-size: 33px;
    font-weight: bold;
    line-height: 40px;
    color: #595757;
    margin-bottom: 153px;
    margin-top: 97px;
}

.section3-2 {
    padding: 0 140px;
}

.nong-pic {
    width: 530px;
    height: 353px;
    background-image: url('../img/about/nong.jpg');
    background-size: cover;
    margin-bottom: 30px;
    
}

.market-pic {
    width: 500px;
    height: 350px;
    background-image: url('../img/about/market.jpg');
    background-size: cover;
    /* float: right;
    transform: translateY(-80px); */
}

.express-pic {
    width: 423px;
    height: 450px;
    background-image: url('../img/about/express.jpg');
    background-size: cover;
    background-position: 20% 20%;
    margin-bottom: 30px;
}

.warm-card-pic {
    width: 500px;
    height: 380px;
    background-image: url('../img/about/warm card.jpg');
    background-size: cover;
}

.warm-card-word {
    width: 445px;
    height: 418px;
}


.section4{
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu/menu banner 2.jpg');
    background-size: cover;
    background-position: 25% 20%;
    margin-bottom: 50px;
}
.section4-1 {
    position: relative;
    width: 100%;
    height: 100vh;
}
.subtitle3 {
    position: absolute;
    top: 97px;
    font-size: 33px;
    font-weight: bold;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 153px;
}
.subtitle3-1{
    position: absolute;
    top: 217px;
    right: 70px;
    font-size: 60px;
    font-weight: bold;
    line-height: 70px;
    color: #ffffff;
    margin-bottom: 153px;
    letter-spacing: 5px;
}
.subtitle3-2{
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    color: #ffffff;
    letter-spacing: 3px;
}
.section5-1 {
    position: relative;
    width: 100%;
}

.subtitle4{
    font-size: 72px;
    font-weight: bold;
    color: #595757;
    letter-spacing: 5px;
    margin-bottom: 65px;
}

.nav1{
    width: 100%;
}
.menu-info1-1{
    display: none;
}
.menu-info2-1{
    display: none;
}
.menu-info3-1{
    display: none;
}
.menu-info4-1{
    display: none;
}
.nav-item{
    font-size: 25px;
    color: white;
    font-weight: bold;
}

#dessert-tab{
    background-color: #ABD6F4;
    color: white;
}

#cake-tab{
    background-color: #89C1E0;
    color: white;
}

#pie-tab{
    background-color: #5793AD;
    color: white;
}

#cookie-tab{
    background-color: #3B5E72;
    color: white;
}
.dessert-pane{
    padding-top: 50px;
    background-color: #ABD6F4;
}
.cake-pane{
    padding-top: 50px;
    background-color: #89C1E0;
}
.pie-pane{
    padding-top: 50px;
    background-color: #5793AD;
}
.cookie-pane{
    padding-top: 50px;
    background-color: #3B5E72;
}


.section6{
    width: 100%;
    background-image: url('../img/card/bg-pink02.jpg');
    background-size: cover;
    background-position: 25% 20%;
    margin-bottom: 50px;
}
/* .section6-1 {
    position: relative;
    width: 100%;
    height: 100vh;
} */

.subtitle5{
    margin: 50px 0;
    font-size: 72px;
    font-weight: bold;
    color: #595757;
    letter-spacing: 5px;
}

.word2 .w1{
    font-size:40pt; 
    color:#595757; 
    font-weight:bolder; 
    margin-bottom: -15px
}
.word2 .w2{
    display:none;
}
.word2 .w3{
    font-size:30pt; 
    color:#595757; 
    font-weight:bolder; 
    margin-bottom: 30px
}

.google-form{
    margin-left:640px;   
}


.w4{
    color:#595757; 
    font-size:18px; 
    line-height:48px;
}

.section7-1 {
    width: 100%;
    margin-bottom: 130px;
}
.subtitle6{
    width: 210px;
    top: 150px;
    font-size: 33px;
    font-weight: bold;
    line-height: 40px;
    color: #595757;
    margin-bottom: 120px;
}
.subtitle6 p{
    margin-bottom: 0;
}
.QAcollapse{
    padding:0 120px;
}
.btn-link {
    font-weight: 900;
    color: #595757;
    font-size: 20px;
    background-color: transparent;
}
.card button{
    white-space: initial;
    text-align: left
}
.card-body {
    color:#898989;
    font-size: 16px;
}


.section8{
    background-color:rgba(229,186,190, 0.50);

}

.section8-1{
    padding-top: 100px;
}
.subtitle7 {
    width: 210px;
    top: 150px;
    font-size: 33px;
    font-weight: bold;
    line-height: 40px;
    color: #595757;
    margin-bottom: 120px;
}
.subtitle7 p{
    margin-bottom: 0;
}
.contact-logo{
    width: 430px;
    height: 142px;
    background-image: url('../img/logo-black-w.png');
    background-size: cover;
}

.fb-icon-w{
    font-size:25px;
    color:#595757;
    margin-bottom:50px
}

.ig-icon-w{
    font-size:25px;
    color:#595757;
    margin-bottom:50px
}

.contact-info p{
    margin-bottom: 7px;
    font-size: 30px;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: #E24F43;
    color:white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

@keyframes jump{
    10%{
        bottom: 0px;
        width: 110px;
        height: 90px;
    }
    80%{
        bottom: 500px;
        height: 110px;
        width: 90px;
        animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        /*函數速查表*/
    }
    
}

@media screen and (min-width:1800px){
    .container{
        max-width: 1410px;
    }
}

@media screen and (max-width: 576px){
    .bar{
        position: fixed;
        left: 315px;
        top:10px;
        width: 50px;
        height: 50px;
        z-index: 999999;
    }
    .logo {
        width: 293px;
        height: 96px;
        background-image: url(../img/logo.png);
        background-size: cover;
        position: absolute;
        top: 50px;
    }
    .info-word{
        font-size: 18px;
        line-height: 13px;
    }
    .scroll{
        bottom:-15px;
    }
    .section1{
        margin-bottom: 75px;
    }


    .section2-1{
        padding-bottom: 535px;
    }
    .subtitle1 {
        top: 150px;
        font-size: 33px;
        font-weight: bold;
        line-height: 40px;
        color: #595757;
        margin-bottom: 50px;
    }
    .section3-2 {
        padding: 0;
    }
   
    .news-border::before {
        height: 276px;
        left: 45px; 
    }

    .news-list{
        display: none;
    }
    .news-list2{
        display: block;
    }
    .news-list2 a {
        display: inline-block;
        color: #595757;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: bold;
        padding: 20px;
    }
    .news-list2 a::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 99em;
        background-color: #FCB0B3;
        vertical-align: -5px;
        margin-right: 30px;
    }

    .nong-pic{
        background-position: 50% 20%;
    }
    .express-pic{
        background-position: 20% 20%;
    }
    

    .subtitle2{
        margin-bottom: 50px;
    }
    .subtitle3{
        top: 54px;
        margin-bottom: 0;
    }

    .subtitle3-1{
        top: 217px;
        left: 5px;
        font-size: 34px;
        font-weight: bold;
        line-height: 45px;
        margin-bottom: 0
    }
    .subtitle3-2{
        bottom: 30px;
        font-size: 16px;
    }
    .subtitle4{
        bottom: 30px;
        font-size: 55px;
    }
    
    .nav-item {
        font-size: 19px;
    }    

    .menu-info1{
        display: none;
    }
    .menu-info2{
        display: none;
    }
    .menu-info3{
        display: none;
    }
    .menu-info4{
        display: none;
    }

    .menu-info1-1{
        display: block;
    }
    .menu-info2-1{
        display: block;
    }
    .menu-info3-1{
        display: block;
    }
    .menu-info4-1{
        display: block;
    }



    

    .subtitle5{
        font-size: 52px;
    }
    .word{
        display: none;
    }
    .word2 .w1{
        display: none;
    }
    .word2 .w2{
        display: block;
        font-size: 30px;
        color:#595757; 
        font-weight:bolder; 
    }
    .word2 .w3{
        display: none;
    }

    .google-form{
        margin-left: 0
    }
    .w4{
        font-size: 16px;
        line-height: 22px;
    }

    .section7-1{
        margin-bottom: 100px;
    }
    .QAcollapse{
        padding:0
    }
    .contact-logo{
        width: 100%;
        height: 115px;
        margin-bottom: 50px;
    }
    .fb-icon-w{
        font-size: 25px;
    }
    .ig-icon-w{
        font-size: 25px;
    }
    .menu-info-p img{
        width: 100%;
    }

    .contact-info p{
        font-size: 20px;
        text-align: center;
    }


}